.menuLeft{
    width: 300px;
    background-color: #1A3762;
    
}

.logo{
    width: 180px;
    margin-bottom: 100px;
}

.menuNav{
    color: white;
    font-size: 20px;
    list-style: none;
}

.deco{
    margin-top: 300px;
}

li{
    list-style: none;
    cursor: pointer;
}
