/* css de la nav à copier */

app-nav{
    width: 300px;
    background-color: #1A3762;
    margin-right: 30px;
    
}

.header{
    color: black;
}

/* fin du css de la nav */

.title{
    color: black;
}

.dateBox{
    width: 300px;
    height: 60px;
    border: 1px solid black;
    background-color: #1A3762;
}

.dateBoxStyle{
    padding-top: 13px;
    color: white;
}

.print{
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 50px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}